body {
  background-color: #373d40;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

li.ping {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  transition: transform 0.2s ease-in-out;
}
.ping-works {
  background-color: rgb(29, 146, 29);
}
.ping-fail {
  background-color: darkred;
}
.ping-noRes {
  background-color: rgb(198, 146, 14);
}
li {
  list-style-type: none;
}
li:hover {
  transform: scale(1.03); /* Scale up on hover for a subtle effect */
  box-shadow: 0px 2px 10px rgba(255, 253, 253, 0.5);
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 5px; /* Adjust the border radius as needed */
}
ul {
  list-style-type: none;
  padding: 0;
}
li::before {
  content: "\2022"; /* Use a custom bullet character (e.g., a circle) */
  color: black; /* Customize the color */
  font-size: 20px; /* Adjust size */
  padding-right: 10px; /* Add spacing between the bullet and text */
}
